name = "builddesk"
compatibility_date = "2024-07-01"

[env.production]
pages_build_output_dir = "dist"

[env.production.vars]
NODE_VERSION = "18"
NPM_FLAGS = "--omit=optional"

[[env.production.routes]]
pattern = "your-domain.com/*"
zone_name = "your-domain.com"
